PORT=3001
MONGODB_URI=mongodb://localhost:27017/tg_blast
BOT_TOKEN=your_telegram_bot_token_here

# Evolution API (запускается через docker-compose)
EVOLUTION_URL=http://localhost:8080
EVOLUTION_API_KEY=tgblast_evolution_key

# 5sim.net API ключ (https://5sim.net/settings/security)
FIVESIM_API_KEY=your_5sim_api_key_here
